html,body{
      margin:0;
      padding:0;
}

*{
      box-sizing: border-box;
}

// Background styles.
html{
      // background: blue;
      background: linear-gradient(222.67deg, #FCF9AE 4.33%, #FDFAC2 42.85%, #FFFFFF 70.44%);
}


// name plate styles.
#name{
      font-family: Athiti;
      font-style: normal;
      font-weight: normal;
      font-size: 23.7px;
      line-height: 58px;
      /* identical to box height */

      color: #4E4242;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     position: relative;
     bottom:11px;
     left:10px;
}
#nerd-emoji{
      width:35px;
      height:35px;
}

#name-plate{
      display: inline-block;
}