html,body{
      margin:0;
      padding:0;
      overflow-y:auto;
}

*{
      box-sizing: border-box;
}

// Background styles.
html{
      background: linear-gradient(222.67deg, #FCF9AE 4.33%, #FDFAC2 42.85%, #FFFFFF 70.44%);
}


