 
.App {
      font-family: sans-serif;
      text-align: center;
    }
    body {
      overflow: hidden;
    }
    
    .snapButton {
      text-align: center;
      position: fixed;
      bottom: 40px;
      width: 100%;
    }
    
    .snapButton > button {
      font-size: 60px;
      font-weight: bold;
    }
    .snapButton img {
      width: 150px;
    }
    .wrapper {
      width: 400px;
      height: 700px;
      margin: auto;
    }
   