
#snappedPhoto
{
      width:19vw;
}

@media only screen and (max-width: 1600px) {

      #snappedPhoto{
      width:20vw;
      }

      #card{
            width:370px;
            background: red;
      }
}

@media only screen and (max-width: 1500px) {

      #snappedPhoto{
      width:21vw;
      }

      #card{
            width:350px;
            background: red;
      }
}

@media only screen and (max-width: 1400px) {

      #snappedPhoto{
      width:23vw;
      }

      #card{
            width:350px;
            background: red;
      }
}

@media only screen and (max-width: 1100px) {

      #snappedPhoto{
      width:30vw;
      }

      #card{
            width:350px;
            background: red;
      }
}

@media only screen and (max-width: 768px) {

      #snappedPhoto{
      width:39vw;
      }

      #card{
            width:350px;
            background: red;
      }
}

@media only screen and (max-width: 425px) {

      #snappedPhoto{
      width:65vw;
      }

      #card{
            width:350px;
            background: red;
      }
}

@media only screen and (max-width: 375px) {

      #snappedPhoto{
      width:77vw;
      }

      #card{
            width:350px;
            background: red;
      }
}