#contact-page
{
      // fetching font families.
      @import url('https://fonts.googleapis.com/css?family=Athiti|Montserrat|Poppins&display=swap');

      // Wrapper Styles
      #container{
            min-height: 100vh;
      }
      #main{
            overflow: auto;
            padding-bottom:130px;
            // background: blue;
            height:calc(100vh - 85px);

            display:flex;
            flex-direction: column;
      }

      #contact{
            // background: green;
            display: flex;
            flex-direction:column;
            margin-top:0px;
            flex:1;
            justify-content: center;
      }

      #contact_title{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 53px;
            line-height: 80px;
            /* identical to box height */

            text-align: center;

      }

      #contact_subtitle{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 10px;
            text-align: center;

            color: #787171;
      }

      #contact_button{
            font-family: Athiti;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 100px;
            margin-top:100px;
            text-decoration: none;
            width: 320px;

            // height: 135px;
            cursor: pointer;
            /* identical to box height */

            text-align: center;

            color: #FFFFFF;
            background: #C2353A;
            border-radius: 20px;
            align-self: center;

      }

      #email-icon{
            width:80px;
            margin-bottom:-24px;
            margin-left:-5px;
      }

      #grin-emoji{
            width:35px;
            // background:blue;
            position: relative;
            top:9px;
            left:5px;
      }

      @media only screen and (max-width: 500px) {
            #contact_title{
                  font-size:35px;
            }
            #contact_subtitle{
                  font-size:17.3px;
            }
            #grin-emoji{
                  width:30px;
                  // background:blue;
                  position: relative;
                  top:9px;
                  left:5px;
            }

            #contact_button{
                  font-size:30px;
                  width:250px;
                  line-height: 80px;
            }

            #email-icon{
                  width:70px;
                  // margin-bottom:-24px;
                  // margin-left:-5px;
            }

      }

      @media only screen and (max-width: 390px) {
            #contact_title{
                  font-size:30px;
            }
            #contact_subtitle{
                  font-size:15px;
            }
            #grin-emoji{
                  width:28px;
                  // background:blue;
                  position: relative;
                  top:9px;
                  left:5px;
            }
      }

}

