footer{
      position: relative;
      margin-top:-85px;
      width:100vw;
      height:85px;
      border: 1px solid #CFBEBE;
      clear: both;
}

.social-icons{
      width:18px;
      margin:11px;
}

#social-icons-container{
      width: 240px;
      margin: 0 auto;
      margin-bottom: -10px;
}

#footer__text{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: -0.2px;
      /* identical to box height */

      text-align: center;

      color: #837575;
}

#victory{
      width:20px;
      position: relative;
      top:5px;
}

#footer__content{
      width:332px;
      margin:0 auto;
      margin-bottom:25px;
}
