#tools-page{

      // fetching font families.
      @import url('https://fonts.googleapis.com/css?family=Athiti|Montserrat|Poppins&display=swap');

      #container{
            min-height: 100vh;
      }
      #main{
            overflow: auto;
            padding-bottom:130px;
            
      }
      #title{
            font-family: Athiti;
            font-style: normal;
            font-weight: 600;
            font-size:50px;
            line-height: 112px;
            /* identical to box height */

            text-align: left;

            color: #000000;
            // background:red;
            width:89vw;
            margin:0 auto;
      }

      #sub-title{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            text-align: left;

            color: #5C5757;
            // background:green;
            width:89vw;
            margin:0 auto;
      }

      #tech{
            // background:blue;
            display:flex;
            flex-wrap: wrap;
            width:89vw;
            margin:0 auto;

      }
      #tech img{
            height:200px;
            width:200px;
            margin:42.4px;
            flex-grow: 1;
            flex-shrink: 1;
      }

      @media only screen and (max-width: 1500px) {

            #title,#sub-title{
                  width:90vw;
      
            }
           
      }

      @media only screen and (max-width: 1200px) {

            #title,#sub-title{
                  width:89vw; 
            }
      }
      
      @media only screen and (max-width: 1100px) {
      
            #title,#sub-title{
                  width:85vw;
            }
      }

      @media only screen and (max-width: 1100px) {
      
            #title,#sub-title{
                  width:89vw;
            }
            #title{
                  font-size:45px;
                  margin-top:30px;
            }
            #sub-title{
                  font-size:18px;
            }
      }
      
}